<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissões de localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- SMS de emergência -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- Vibração -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Serviço em background com GPS -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <!-- Notificações (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Acelerômetro obrigatório -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SafeRun"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeRun">

        <!-- Chave da API do Google Maps (Por favor não compartilhar pois esta na minha conta google!) j -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlHIVMocZlw96iFQTwhS4OybsiukWBz80"/>

        <!-- Tela principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Tela da corrida -->
        <activity
            android:name=".RunActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Serviço de rastreamento em background -->
        <service
            android:name=".services.RunningService"
            android:exported="false"
            android:foregroundServiceType="location"/>

    </application>
</manifest>